.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(67, 104, 142);
}

.done{
    padding: 10px 20px;
    font-size: 30px;
    margin: 0 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    height: 60px;
    width: 200px;
}

.not-done{
    padding: 10px 20px;
    font-size: 30px;
    margin: 0 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    height: 60px;
    width: 200px;
}

.button:hover{
    background-color: wheat;
}