    button { 
        background-color: #EEF1DA;
        color: black;
        height: 60px;
        border-radius: 30px;
        width: 200px;
        cursor: pointer;
        font-size: larger;
    }
    .page-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('../images/fon.png');
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .banner{
        width: 100%;
        height: calc(100% - 80px);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        background-image: url('file-6G8Lp9oMWFHayQQeGnRjg3.png');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        }
    
        .title{
            text-align: center;
        }
    
        .habit-item{
            margin-top: 35px;
            font-size: larger;
        }
        .habit-item1{
    
            font-size: larger;
        }
        
        .habits{
    
            font-size: 100px;
        }
    
        .add-btn{
            margin-top: 60px;
            font-family: Arial, Helvetica, sans-serif;
        }
    
        .habits1{
            margin-right: 10px;
        }
        
        .habits1:hover{
            opacity: 0.7;
        }
        
        .home:hover{
            opacity: 0.7;
        }

        .home{
            margin-right: 10px;
        }
    
        .nav-bar{
            position: fixed; 
            top: 0; 
            left: 0;
            width: 100%;
            height: 82px;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            z-index: 1000;
        }
        