{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navici</title>

    <link rel="stylesheet" href="{% static 'css/stylenavici.css' %}"/>
</head>
<body>     
    <nav class="nav-bar">
        <a class="navbar-brand" href="{% url 'home' %}/">
          <img src="{% static 'images/image5.webp' %}" alt="Logo" id="logo" style="width: 85px; height: 80px;margin-right: 10px; margin-top: 5px;">
        </a>
        <a href="{% url 'home' %}" class="home">
          Home
        </a>
        <a href="{% url 'habits' %}" class="navici">
          Habits
        </a>
        <a href="{% url 'rewards' %}" class="prizes">
            Rewards
        </a>
      </nav>
        <div class="banner">
        
        <div class="page-container">
            <h1 style="text-align: center;position: fixed; top: 0; left: 0; width: 75%; padding: 10px; font-family:'Times New Roman', Times, serif; margin-bottom: 20px;"class="habits">Habits-HACK</h1>
            <form class="form-container">
              <label class="form-item" for="new-item">Habits name</label>
              <input class="form-item" id="new-item">
              </form>
              <button class="add-btn">Create new habit</button>

        <div class="habit-list-container">
            <ul>
                <li><div class="habit-item">
                    <p>Brush my teeth</p>
                </div></li>
                <li><div class="habit-item1">
                    <p>Exercise</p>
                </div></li>
                <li><div class="habit-item1">
                    <p>Read</p>
                </div></li>
             <li>   <div class="habit-item1">
                <p>Study</p>
            </div></li>
              <li><div class="habit-item1">
                <p>Journal</p>
            </div></li>
        </ul>
        </div>
            </div>
        </div>
    </div>
    </body>
    </html>
